body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif; /* For simplicity, but you might want to explore other fonts like Roboto or Open Sans */
  background-color: #FCE7BD; /* Simplified background color */
  scroll-behavior: smooth;
  overflow-y: scroll;
  user-select: none;
}

#initialScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 2rem;
  
}


h1 {
  font-size: 3rem; /* Slightly larger size but not too bold */
  margin-bottom: 25px; 
  color: #6B4E3D; /* A deeper, more subdued shade of brown */
  font-weight: 800; /* Lighter font-weight for a sleek appearance */
  letter-spacing: normal; /* Resetting to normal spacing */
  text-transform: none; /* Removed uppercase transformation */
  text-align: center; /* Ensures horizontal centering */
  text-shadow: 0 1px 1px #888888;


}

.input-group {
  width: 100%;
  margin: 5px 0;
  text-shadow: 0 .3px .3px #888888;
    font-family: 'Arial', sans-serif; /* For simplicity, but you might want to explore other fonts like Roboto or Open Sans */
  color: #381f11;
}

input[type="text"], #p1color, #playerName1, #p2color, #playerName2 {
  border-radius: 5px;
  border: 2px solid #5a3713; /* Enhanced border */
  padding: 10px 15px; 
  width: 40%;
  background-color: #eeeae44d; /* Solid white for contrast */
  transition: border-color 0.3s, box-shadow 0.3s, transform 0.2s; /* Added transform transition */
  color: #5a3713;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Added a subtle shadow */

}

input[type="text"]:focus {
  border-color: #5a3713;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1); /* Enhanced focus shadow */
  transform: scale(1.02); /* Slightly enlarge when focused */
  outline: none;  /* Remove default browser outline */

}

input[type="text"]::placeholder {
  color: #8a776b;
  text-shadow: 0 0.1px .1px #888888;

}
#authortext{
  text-shadow: 0 0.1px .1px #888888;
  color: #cda8917b;
}

.submit-button {
  margin-top: 20px;
  background-color: #5a3713;
  border: none;
  color: #FFF;
  font-size: 18px; /* Increased font size for better visibility */
  padding: 12px 30px; 
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
  border-radius: 50px; /* Pill-shaped button */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Added shadow for depth */

  /* Use a transform for a press-down effect on active */
  transform: translateY(0);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.submit-button:hover {
  background-color: #73513D; /* Darkened hover color */
}

.submit-button:active {
  transform: translateY(2px); /* Button press down effect */
}



#gameScreen {
  background-color: #FCE7BD;;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  position: relative; /* Add this line */

}

#dropper {
  border-radius: 7px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 90px;
  width: 650px;
  margin: 0 auto;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); Subtle shadow */

}
.drops {
  height: 70px;
  width:  70px;
  background-color: var(--drop-color, #eeeae44d);
  border-radius: 50%;
  margin: 5px;
  border: 5px solid #eae6dc4d;
  transition: transform 0.5s ease-in-out;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.drops:hover {
  background-color: var(--current-player-color);
}


#board {
  
  height: 560px;
  width: 650px;
  border-radius: 7px;
  background-color: #492815;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Added shadow for depth */
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;


}



.tile {
  height: 70px;
  width:  70px;
  background-color: #634A3C;
  border-radius: 50%;
  margin: 5px;
  border: 5px solid #5d4538;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Added shadow for depth */

  
  
}
.tile {
  transition: transform 0.5s ease-in; /* Adjust the time to your preference */
}

.fall {
  animation-name: fall-animation;
  animation-duration: 500ms;
    transition: transform 500ms;

}


@keyframes fall-animation {
  from {
      transform: translateY(0px);
  }
  to {
      transform: translateY(500px);
  }
}




.input-group {
  display: flex;
  align-items: center; /* align items vertically in the middle */
  gap: 10px; /* provides spacing between child elements, can adjust as needed */
  
}

.color-tile {
  width: 33px;
  height: 33px;
  border: 2px solid #5a3713;
  margin-left: 20px;
  background-color: transparent;
  border-radius: 50%;
  margin: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Added shadow for depth */

}

.widget {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #634A3C; /* matching the tile's wooden color */
  border: 5px solid #5d4538; /* giving it a border similar to tiles */
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* existing shadow for depth */
  text-align: center;
  z-index: 10;
  color: #e6e6e6; /* a lighter color for contrast against dark background */
  width: 70%; /* to ensure the widget doesn't stretch too wide */
  max-width: 400px; /* to set an upper limit on its width */
}

.widget h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #FCE7BD; /* a color similar to the main background */
  text-shadow: 0 0.3px .3px #888888;

}
#widgetMessage{
  text-shadow: 0 0.3px .3px #888888;

}

.widget button {
  margin-top: 10px;
  background-color: #5a3713;
  border: none;
  color: #FFF;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
  border-radius: 50px; /* pill-shaped button */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* shadow for depth */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.widget button:hover {
  background-color: #73513D; /* darkened hover color */
}

.widget button:active {
  transform: translateY(2px); /* button press down effect */
}


@keyframes dropperFall {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(var(--fall-distance, 580px)); /* Default to 500px if --fall-distance is not set */
  }
}

.drops.fall {
  animation: dropperFall 0.25s forwards;
}

.modal {
  display: none; 
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;  
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2); /* existing shadow for depth */
  

}

button {
  background-color: #634A3C; /* matching the tile's wooden color */
  color: #e6e6e6; /* Text color */
  text-shadow: 0 0.3px .3px #888888; /* Slight text shadow for depth */
  border: none; /* Remove default borders */
  border-radius: 20px; /* pill-shaped button */
  padding: 10px 20px; /* Padding for button size */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Hand cursor on hover */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* shadow for depth */
  border: 1px solid #5d4538;
  
}

button:hover {
  background-color: #5a3713; /* Slightly brighter color on hover */
}





#colorList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  align-items: center;
  width: 100%;
  height: 100%;
  
}

.modal-content {
  position: relative;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;            
  padding: 20px;
  background-color: #fff;
  overflow-y: auto;       
  z-index: 5;
  border: 5px solid #5d4538; /* giving it a border similar to tiles */
  border-radius: 10px;
  box-shadow: 0 0  50px rgba(0, 0, 0, 0.584); /* existing shadow for depth */
  background-color: #634A3C; /* matching the tile's wooden color */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}


.color-option {
  display: inline-flex;
  width: 110px;
  height: 30px;
  cursor: pointer;
  margin-inline: 8px;
  margin-bottom: 10px;
  line-height: 30px;
  text-align: center;
  font-size: 10px;
  font-weight: bold; /* Make the text bold */
  color: #f5f5f5; /* Slightly lighter color for better contrast */
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5); /* Subtle shadow to lift the text a bit */
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}


.colors-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  height: 100%;
}

#showColors {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1001;
  transition: opacity 1s, visibility 0s linear 1s; /* Added conditional delay for visibility */

}

#showColors.reappearing {
  transition: opacity 1s, visibility 0s linear 0s; /* Remove delay when reappearing */
}

.hide {
  opacity: 0;
  visibility: hidden; /* This ensures that the button isn't clickable when it's invisible */
}
