body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #FCE7BD; 
  scroll-behavior: smooth;
  overflow-y: scroll;
  user-select: none;
}

#initialScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 2rem;
  z-index: 2;
}


h1 {
  font-size: 3rem; 
  margin-bottom: 25px; 
  color: #6B4E3D; 
  font-weight: 800;  
  letter-spacing: normal;  
  text-transform: none;  
  text-align: center;  
  text-shadow: 0 1px 1px #888888;


}

.input-group {
  width: 100%;
  margin: 5px 0;
  text-shadow: 0 .3px .3px #888888;
  font-family: 'Nunito', sans-serif;
  color: #381f11;
}

input[type="text"], #p1color, #playerName1, #p2color, #playerName2 {
  border-radius: 5px;
  border: 2px solid #5a3713;  
  padding: 10px 15px; 
  width: 40%;
  font-family: 'Nunito', sans-serif;

  background-color: #eeeae44d;  
  transition: border-color 0.3s, box-shadow 0.3s, transform 0.2s;  
  color: #5a3713;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 

}

input[type="text"]:focus {
  border-color: #5a3713;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);  
  transform: scale(1.02);  
  outline: none;   

}

input[type="text"]::placeholder {
  color: #8a776b;
  text-shadow: 0 0.1px .1px #888888;

}
#authortext{
  text-shadow: 0 0.1px .1px #888888;
  color: #cda8917b;
  font-family: 'Nunito', sans-serif;

}

.submit-button {
  margin-top: 20px;
  background-color: #5a3713;
  border: none;
  color: #FFF;
  font-family: 'Nunito', sans-serif;

  font-size: 18px;  
  padding: 12px 30px; 
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
  border-radius: 50px;  
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);  

   
  transform: translateY(0);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.submit-button:hover {
  background-color: #73513D;  
  cursor: pointer;
}

.submit-button:active {
  transform: translateY(2px);  
}

#contain {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: auto; 
  z-index: 1;
}

#gameScreen {
  background-color: #FCE7BD;;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  z-index: 1;
}

#dropper {
  border-radius: 7px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 90px;
  width: 650px;
  margin: 0 auto;
  

}
.drops {
  height: 70px;
  width:  70px;
  background-color: var(--drop-color, #eeeae44d);
  border-radius: 50%;
  margin: 5px;
  border: 5px solid #eae6dc4d;
  transition: transform 0.5s ease-in-out;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.drops:hover {
  background-color: var(--current-player-color);
  cursor: pointer;
}

#board {
    
  height: 560px;
  width: 650px;
  border-radius: 7px;
  background-color: #492815;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);  
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;


}



.tile {
  height: 70px;
  width:  70px;
  background-color: #634A3C;
  border-radius: 50%;
  margin: 5px;
  border: 5px solid #5d4538;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);  

  
  
}
.tile {
  transition: transform 0.5s ease-in;  
}

.fall {
  animation-name: fall-animation;
  animation-duration: 500ms;
    transition: transform 500ms;

}


@keyframes fall-animation {
  from {
      transform: translateY(0px);
  }
  to {
      transform: translateY(500px);
  }
}




.input-group {
  display: flex;
  align-items: center;  
  gap: 10px;  
  
}

.color-tile {
  width: 33px;
  height: 33px;
  border: 2px solid #5a3713;
  margin-left: 20px;
  background-color: transparent;
  border-radius: 50%;
  margin: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); 

}

.widget {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #634A3C;  
  border: 5px solid #5d4538;  
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); 
  text-align: center;
  z-index: 10;
  color: #e6e6e6;  
  width: 70%;  
  max-width: 400px;  
}

.widget h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #FCE7BD;  
  text-shadow: 0 0.3px .3px #888888;

}
#widgetMessage{
  text-shadow: 0 0.3px .3px #888888;

}

.widget button {
  margin-top: 10px;
  background-color: #5a3713;
  border: none;
  color: #FFF;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
  border-radius: 50px;  
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);  
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.widget button:hover {
  background-color: #73513D; 
  cursor: pointer;
}

.widget button:active {
  transform: translateY(2px);  
}


@keyframes dropperFall {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(var(--fall-distance, 580px));  
  }
}

.drops.fall {
  animation: dropperFall 0.25s forwards;
}

.modal {
  display: none; 
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;  
  

}

button {
  background-color: #634A3C;  
  color: #e6e6e6;  
  text-shadow: 0 0.3px .3px #888888;  
  border: none;  
  border-radius: 20px;  
  padding: 10px 20px;  
  font-size: 16px;  
  cursor: pointer; 
  transition: background-color 0.3s;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  border: 1px solid #5d4538;
  
}

button:hover {
  background-color: #5a3713;  
  cursor: pointer;
}





#colorList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  align-items: center;
  width: 100%;
  height: 100%;
  
}

.modal-content {
  position: relative;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;            
  padding: 20px;
  background-color: #fff;
  overflow-y: auto;       
  z-index: 5;
  border: 5px solid #5d4538;  
  border-radius: 10px;
  box-shadow: 0 0  50px rgba(0, 0, 0, 0.584);  
  background-color: #634A3C;  
  display: flex;
  flex-direction: column;
   
}


.color-option {
  display: inline-flex;
  width: 110px;
  height: 30px;
  cursor: pointer;
  margin-inline: 8px;
  margin-bottom: 10px;
  line-height: 30px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;  
  color: #f5f5f5;  
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);  
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}


.colors-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  height: 100%;
}

#showColors {
  font-family: 'Nunito', sans-serif;

  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1001;
  transition: opacity 1s, visibility 0s linear 1s;  

}

#showColors.reappearing {
  transition: opacity 1s, visibility 0s linear 0s;  
}

.hide {
  opacity: 0;
  visibility: hidden; 
}
@media (max-width: 680px) {
  body {
    overflow-x: hidden;
  }
  #contain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #initialScreen {
    transform: scale(0.93);
  }
  #gameScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(0.83);
    width: max-content;
  }
}

@media (max-width: 560px) {
  body {
    overflow-x: hidden;
  }
  #contain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #initialScreen {
    transform: scale(0.93);
  }
  #gameScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(0.73);
    width: max-content;
  }
  #showColors{
    bottom: 50px;
    right: 10px;

  }
}

@media (max-width: 485px) {
  body {
    overflow-x: hidden;
  }
  #contain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #initialScreen {
    transform: scale(0.93);
  }
  #gameScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(0.63);
    width: max-content;
  }
  #showcolor{
    bottom: 10px;
    right: 10px;
  }
}

@media (max-width: 425px) {
  body {
    overflow-x: hidden;
  }
  #contain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #initialScreen {
    transform: scale(0.93);
  }
  #gameScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(0.53);
    width: max-content;
  }
}

@media (max-width: 360px) {
  body {
    overflow-x: hidden;
  }
  #contain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #initialScreen {
    transform: scale(0.93);
  }
  #gameScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(0.43);
    width: max-content;
  }
}
